{% extends "view.html" %}

{% block og %}
  <meta property="og:image" content="{{ handler.raw }}">
  <meta property="og:title" content="{{ handler.data.name }}">
{% endblock %}

{% block full_content %}
  <figure>
    <img id="img" src="{{ handler.raw }}" class="fill-viewport">
    <figcaption>
      Uploaded on <time datetime="{{ handler.data.created.strftime('%Y-%m-%d %H:%i:%s') }}">{{ handler.data.created.strftime('%Y-%m-%d') }}</time>.
      Access is {{ handler.data.access }}.
    </figcaption>
  </figure>
  <script>
    const article = document.querySelector('figure')
    document.getElementById("img").addEventListener('click', function () {
      article.style.gridColumn = article.style.gridColumn ? "" : "1/-1"
    });
  </script>
{% endblock %}
