[Unit]
Description=spice
After=network.target

[Service]
Type=simple
# Edit WorkingDirectory, User and Group as needed
WorkingDirectory=/srv/apps/spice/
User=www-data
Group=www-data
ExecStart=/srv/apps/spice/.venv/bin/uwsgi --ini uwsgi.ini -s /tmp/spice.sock --manage-script-name --mount /share=spice:app
Restart=always
StandardError=syslog
SyslogIdentifier=Spice

[Install]
WantedBy=multi-user.target
