{% extends 'page.html' %}

{% block content %}
  {% if current_user.is_authenticated() %}
  <div class="box-medium txt-center">
    New uploads will be:
    <span id="access_controls" class="">
      <button value='private' class="button-lowlight">
        <span class="fa fa-lock"></span> Private
      </button>
      <button class="" value='limited'>
        <span class='fa fa-link'></span> Limited
      </button>
      <button value='public' class="button-lowlight">
        <span class="fa fa-star"></span> Public
      </button>
    </span>
    <br><br>
    <div contenteditable="true" id="paste_box" style="width:1px;height:1px;overflow:hidden;position:absolute;top:-10000px;opacity:0"></div>
  </div>
  {% endif %}

  <table class="box box-medium file-list" id="files" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th style="width:50px">
        {% if current_user.is_authenticated() %}
          Access
        {% endif %}
        </th>
        <th style="width:40px">Views</th>
        <th class="txt-center" style="width:85px">Date</th>
        <th style="width:25px"></th>
      </tr>
    </thead>
    {% if files|length %}
      {% for file in files %}
      <tr id="key_{{ file.data.key }}" class="hover">
        <td>
          <a class="visit" href="/{{ file.data.key }}">
            {{ file.data.name }}
          </a>
        </td>
        <td class="access txt-center" title="Click to change access settings">
          {% if current_user.is_authenticated() %}
            {% if file.data.access == 'public' %}
              <span class="fa fa-star"></span>
            {% endif %}
            {% if file.data.access == 'private' %}
              <span class="fa fa-lock"></span>
            {% endif %}
            {% if file.data.access == 'limited' %}
              <span class="fa fa-link"></span>
            {% endif %}
          {% endif %}

        </td>
        <td class="txt-center">{{ file.data.views|default('0') }}</td>
        <td>{{ file.data.created.strftime('%Y-%m-%d') }}</td>
        <td class="hover-show ">
          {% if current_user.is_authenticated() %}
            <a class="remove" href="#">&times;</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    {% else %}
        <tr id="empty" class="txt-center">
          <td colspan="5">Sorry, nothing here yet )-:</td>
        </tr>
    {% endif %}

    <tfoot>
      <tr>
        <td colspan="2">
          {% if prev_page == 0 %}
            <a href="/"><span class="fa fa-angle-left"></span> Previous</a>
          {% elif prev_page > 0%}
            <a href="/{{ prev_page }}"><span class="fa fa-angle-left"></span> Previous</a>
          {% endif %}
        </td>
        <td colspan="3" class="txt-right">
          {% if next_page %}
          <a href="/{{ next_page }}">Next <span class="fa fa-angle-right"></span></a>
          {% endif %}
        </td>
    </tfoot>
  </table>

  {% if current_user.is_authenticated() %}
    <script src="{{ static_web_path }}/js/jquery-2.1.1.min.js"></script>
    <script src="{{ static_web_path }}/js/underscore-min.js"></script>
    <script src="{{ static_web_path }}/js/backbone-min.js"></script>
    <script id="uploadTemplate" type="template/text">
        <td><%= name %></td>
        <td class="txt-center access">
          <% if (access == 'public') { %><span class="public fa fa-star"></span><% } %>
          <% if (access == 'limited') { %><span class="limited fa fa-link"></span><% } %>
          <% if (access == 'private') { %><span class="private fa fa-lock"></span><% } %>
        </td>
        <td><%= progress %>%</td>
        <td><%= status %></td>
        <td></td>
    </script>
    <script id="rowTemplate" type="template/text">
        <td>
          <a href="/<%= key %>">
            <%= name %>
          </a>
        </td>
        <td class="txt-center access">
          <% if (access == 'public') { %><span class="public fa fa-star"></span><% } %>
          <% if (access == 'limited') { %><span class="limited fa fa-link"></span><% } %>
          <% if (access == 'private') { %><span class="private fa fa-lock"></span><% } %>
        </td>
        <td class="txt-center"><%= views %></td>
        <td><%= created %></td>
        <td class="hover-show"><a class="remove" href="#">&times;<a></td>
    </script>
    {% autoescape false %}
    <script> var bootstrap = [{{ json|join(',') }}]; </script>
    {% endautoescape %}
    <script src="{{ static_web_path }}/js/list.js"></script>
  {% endif %}
{% endblock %}
