<!DOCTYPE html>
<html>
  <head>
    <title>Spice: All files</title>
    <link rel="stylesheet" href="{{ static_web_path }}/spice.css">
  </head>
  <body>
    <header>
      <ul class="list-inline">
        <li><h1>Spice</h1>
        <li>So many files!
      </ul>
    </header>
      {% if current_user.is_authenticated() %}
      <div class="box-medium txt-center">
        New uploads will be:
        <span id="access_controls" class="button-list">
          <button class="button-active" value='limited'>
            <span class='fontawesome-link'></span> Limited
          </button>
          <button value='private'>
            <span class="fontawesome-lock"></span> Private
          </button>
          <button value='public'>
            <span class="fontawesome-star"></span> Public
          </button>
        </span>
        <br><br>
      </div>
      {% endif %}
      <table class="box box-medium file-list" id="files" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th style="width:50px">
            {% if current_user.is_authenticated() %}
              Access
            {% endif %}
            </th>
            <th style="width:40px">Views</th>
            <th class="txt-center" style="width:85px">Date</th>
            <th></th>
          </tr>
        </thead>
        {% if files|length %}
          {% for file in files %}
          <tr id="key_{{ file.key }}" class="hover">
            <td>
              <a href="/{{ file.key }}">
                {{ file.name }}
              </a>
            </td>
            <td class="access txt-center" title="Click to change access settings">
              {% if current_user.is_authenticated() %}
                {% if file.access == 'public' %}
                  <span class="fontawesome-star"></span>
                {% endif %}
                {% if file.access == 'private' %}
                  <span class="fontawesome-lock"></span>
                {% endif %}
                {% if file.access == 'limited' %}
                  <span class="fontawesome-link"></span>
                {% endif %}
              {% endif %}

            </td>
            <td class="txt-center">{{ file.views|default('0') }}</td>
            <td>{{ file.created.strftime('%Y-%m-%d') }}</td>
            <td class="hover-show "><a class="remove" href="#">&times;</a></td>
          </tr>
          {% endfor %}
        {% else %}
            <tr class="empty txt-center" colspan="5"><td>Sorry, nothing here yet )-:</td></tr>
        {% endif %}
      </table>


    {% if current_user.is_authenticated() %}
      <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
      <script id="uploadTemplate" type="template/text">
          <td><%= name %></td>
          <td class="txt-center access">
            <% if (access == 'public') { %><span class="public fontawesome-star"></span><% } %>
            <% if (access == 'private') { %><span class="private fontawesome-lock"></span><% } %>
            <% if (access == 'limited') { %><span class="limited fontawesome-link"></span><% } %>
          </td>
          <td><%= progress %>%</td>
          <td><%= status %></td>
          <td></td>
      </script>
      <script id="rowTemplate" type="template/text">
          <td>
            <a href="/<%= key %>">
              <%= name %>
            </a>
          </td>
          <td class="txt-center access">
            <% if (access == 'public') { %><span class="public fontawesome-star"></span><% } %>
            <% if (access == 'private') { %><span class="private fontawesome-lock"></span><% } %>
            <% if (access == 'limited') { %><span class="limited fontawesome-link"></span><% } %>
          </td>
          <td class="txt-center">0</td>
          <td><%= created %></td>
          <td class="hover-show"><a class="remove" href="#">&times;<a></td>
      </script>
      {% autoescape false %}
      <script> var bootstrap = [{{ json|join(',') }}]; </script>
      {% endautoescape %}
      <script src="{{ static_web_path }}/list.js"></script>
    {% endif %}
  </body>
</html>
