{% extends 'page.html' %}

{% block content %}

  {% include 'upload.html' %}
  <style>
    .item-header {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .item-header-content {
      flex: 1;
    }
    .item-header-actions {
      padding-left: 16px;
    }


    .pretty-select {
      position: relative;
      cursor: pointer;
      color: #458588;
      display: inline-block;
    }
    .pretty-select:hover {
      text-decoration: underline;
      color: #458588;
    }

    .pretty-select select {
      color: #000;
      kursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
    }

    .progress {
      background-image: linear-gradient(to right, #458588 , #458588);
      background-repeat: no-repeat;
      background-size:  0%;
    }

    .progress-hide {
      opacity: 0;
      transition: opacity .5s 4s;
    }

    .item {
      display: inline-block;
      margin-bottom: 64px;
      box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.4);
      max-width: 730px;
      width: auto;
      padding: 8px;
    }

    .preview {
      padding: 8px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
    }
  </style>

  {% if files|length %}
    {% for file in files %}
      {% include 'log_item.html' %}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/log.js') }}"></script>
{% endblock %}
