{% extends 'page.html' %}

{% block title %}Login{% endblock %}
{% block content %}
  <div class="box box-small">
    <form method="post">
      <ul class="list-form">
        <li>
          <label for="un">Username:</label>
          <input id="un" type="text" name="username">
        </li>
        <li>
          <label for="pw">Password:</label>
          <input id="pw" type="password" name="password">
        </li>
        <li class="action">
          <button type="submit">Login</button>
        </li>
      </ul>
    </form>
  </div>
{% endblock %}
