<!DOCTYPE html>
<html>
  <head>
  <title>{% block title %}Spice: All files{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block css %}{% endblock %}

    <meta property="og:site_name" content="spice on goodrobot.net">
    {% if current_path %}
    <meta property="og:url" content="{{ current_path }}">
    {% endif %}
    {% block og %}{% endblock %}
    <style>
      .feather {
        vertical-align: middle;
      }
    </style>
  </head>
  <body>


    <header class="flex">
       <a href="/">Spice</a>
       <div>{% block subtitle %}So many files!{% endblock %}</div>
      <div class="flex-1"></div>

      {% if current_user %}
        <a href="{{ url_for('auth.logout') }}">
          {% include 'images/log-out.svg' %}
        </a>
        {{ current_user.username }}
      {% endif %}
    </header>

    {% block full_content %}{% endblock %}
    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <footer class="align-center" style="margin-top:48px">
      <a href="/">goodrobot.net</a>
    </footer>
    <script>
      const uploadPath = "{{ url_for('files.create') }}";
    </script>
    {% block js %}{% endblock %}
  </body>
</html>
