<!DOCTYPE html>
<html>
  <head>
  <title>{% block title %}Spice: All files{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block css %}{% endblock %}

    <meta property="og:site_name" content="spice on goodrobot.net">
    {% if current_path %}
    <meta property="og:url" content="{{ current_path }}">
    {% endif %}
    {% block og %}{% endblock %}
    <style>
      .feather {
        vertical-align: middle;
      }

    </style>
  </head>
  <body>


    <header class="page-header">
      <span class="page-header-title">
       <a href="/">Spice</a>
      </span>

      <span class="page-sub-title">So many files!</span>

      <nav class="page-nav">
        <div class="flex-container row">
        <ul class="list-nav">
          <li>
            <a href="{{ root_web_path }}/logout">
            test link
            </a>
          </li>
          {% for href, id, name in nav_items %}
          {% if current_page != id %}
          <li {% if current_page == id %}class="active"{% endif %} >
            <a href="{{ href|e }}">{{ name|e }}</a>
          </li>
          {% endif %}
          {% endfor %}

        </ul>
          <ul class="flex-1 list-nav align-right">
          {% if current_user.is_authenticated %}
          <li>
            <a href="{{ root_web_path }}/logout">
              {% include 'images/log-out.svg' %}
            </a>
            {{ current_user.username }}
          </li>
          {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    {% block full_content %}{% endblock %}
    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <footer class="align-center" style="margin-top:48px">
      <a href="/">goodrobot.net</a>
    </footer>
    {% block js %}{% endblock %}
  </body>
</html>
