{% extends 'page.html' %}

{% block content %}
  {% include 'upload.html' %}
<style>
  #files {
    margin: auto;
    min-width:var(--content-width)
  }

  #files tr .remove {
    color: var(--bg);
  }
  #files tr:hover .remove {
    color: unset;
    display:inline
  }
</style>
  <div class="full-bleed">
    <table id="files" cellspacing="0">
      <thead>
        <tr>
          <th>Name</th>
          <th style="width:50px">
          {% if current_user.is_authenticated %}
            Access
          {% endif %}
          </th>
          <th style="width:40px">Views</th>
          <th style="text-align:center;width:85px">Date</th>
          <th style="width:25px"></th>
        </tr>
      </thead>
      {% if files|length %}
        {% for file in files %}
        <tr id="key_{{ file.data.key }}">
          <td>
            <a href="{{ url_for('files.view', key=file.data.key) }}">
              {{ file.data.name }}
            </a>
          </td>
          <td class="access" title="Click to change access settings">
            {% if current_user.is_authenticated %}
              {% if file.data.access == 'public' %}
                <span>Public</span>
              {% endif %}
              {% if file.data.access == 'private' %}
                <span>Private</span>
              {% endif %}
              {% if file.data.access == 'limited' %}
                <span>Limited</span>
              {% endif %}
            {% endif %}

          </td>
          <td>{{ file.data.views|default('0') }}</td>
          <td>{{ file.data.created.strftime('%Y-%m-%d') }}</td>
          <td>
            {% if current_user.is_authenticated %}
              <a class="remove" title="Delete file" href="#">&times;</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      {% else %}
          <tr id="empty">
            <td colspan="5">Sorry, nothing here yet )-:</td>
          </tr>
      {% endif %}
    </table>
  </div>

  <div style="padding-top:2rem">
  {% include 'pagination.html' %}
  </div>

  {% if current_user.is_authenticated %}
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
    <script id="rowTemplate" type="template/text">
        <td>
          <a href="{{ url_for('files.view', key=key) }}<%= key %>">
            <%= name %>
          </a>
        </td>
        <td class="access">
          <% if (access == 'public') { %><span>Public</span><% } %>
          <% if (access == 'limited') { %><span>Limited</span><% } %>
          <% if (access == 'private') { %><span>Private</span><% } %>
        </td>
        <td><%= views %></td>
        <td><%= created %></td>
        <td><a class="remove" href="#">&times;<a></td>
    </script>
    {% autoescape false %}
    <script> var bootstrap = [{{ json|join(',') }}]; </script>
    {% endautoescape %}
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
  {% endif %}
{% endblock %}
