{% if current_user.is_authenticated %}
<style>
  progress[value="0"] {
    border: none;
  }
</style>
<div
  contenteditable="true"
  id="paste_box"
  style="
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    opacity: 0;
  "
></div>
<div style="margin-block-end: 2rem">
  <div style="text-align: center">
    Drop or paste to upload file(s). Access will be
    <select id="access_controls">
      <option value="limited" selected>Link only</option>
      <option value="private">Private</option>
      <option value="public">Public</option>
    </select>
  </div>
  <progress id="status" value="0" max="100">0%</progress>
  <small id="status-text">&nbsp;</small>
</div>
{% endif %}
