@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* entypo */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  color: #2c3e50;
  min-height: 100%;
  background-image: url(http://spice.dev/static/escheresque.png);
  padding: 0;
  margin: 0;
}

.box {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 10px 0 #bbb;
  background-color:#fefefe;
}

.file-list {
  margin-bottom: 40px;
}

.file-list th {
  font-weight: normal;
  text-align: left;
}

.file-list td {
  padding: 6px;
}

.file-list tr:hover {
  background-color:#f5f5f5;
}

.file-list a {
  text-decoration: none;
}

.txt-center {
  text-align: center !important;
}

.hover:hover .hover-show {
  opacity: 1;
  visibility: visible;
}
.hover-show {
  opacity: 0;
  visibility: hidden;
}

/* image styles */
.image {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-width {
  max-width: 80%;
}

.highlight pre {
  overflow: auto;
  font-family: 'Menlo', 'monospace';
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-inline li {
  margin-left: 1em;
  display: inline-block;
}

.list-form {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-form li {
  margin-bottom: 10px;
}

.list-form label {
  width: 30%;
  display: inline-block;
  margin-right: 10px;
  text-align: right;
}

.list-form input {
  width: 60%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
  padding: 6px;
}

.list-form .action {
  text-align: center;
}

.list-form .action input {
  width: auto;
}

.box-small {
  width: 400px;
  margin: auto;
}
.box-medium {
  width: 700px;
  margin: auto;
}
.box-large {
  width: 900px;
  margin: auto;
}

button {
  text-shadow: -1px -1px 1px #2575AB;
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: #3498DB;
  color: #fff;
  font-weight: bold;
  padding: 4px 5px;
  border: 1px solid #2575AB;
  border-bottom-width: 2px;
  border-radius: 4px;
}

button:hover {
  background-color: #5CB3ED;
}

button:active {
  background-color: #5CB3ED;
  border-bottom-width: 1px;
  position: relative;
  top: 1px;
}

.button-active {
  background-color: #5CB3ED;
}

button::-moz-focus-inner {
  border: 0;
}

.button-list {
  font-size: 0;
  display: inline-block;
}

.button-list button {
  border-right: none;
  border-radius: 0;
}

.button-list button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}
.button-list button:last-child {
  border-right: 1px solid #2575AB;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}



body > header {
  background-color: #2c3e50;
  color: #fff;
  padding: 0;
  margin: 0 0 20px 0;
}

header h1 {
  font-size: 18px;
}
header a {
  color: #fff;
  text-decoration: none;
}

a:link {
  color: #3498DB;
}
a:visited {
  color: #9B59B6;
}
